OWNERS_USERNAME=@skipp_dev,@shigarakiXBT

TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_BOT_USERNAME=@Shipp0Bot

GROQ_API_KEY=your_groq_api_key
GROQ_MODEL=qwen/qwen3.8-27b

REDIS_URL=rediss://default:password@host:port

DATABASE_URL=postgresql://user:password@host:port/postgres
DATABASE_PASSWORD=your_password

SVM_WALLET_PUBLIC_KEY=your_svm_public_key
SVM_WALLET_PRIVATE_KEY=your_svm_private_key

EVM_WALLET_PUBLIC_KEY=your_evm_public_key
EVM_WALLET_PRIVATE_KEY=your_evm_private_key

SVM_RPC_URL=https://mainnet.helius-rpc.com/?api-key=...
BASE_RPC_URL=https://lb.drpc.live/base/...
ROBINHOOD_RPC_URL=https://lb.drpc.live/robinhood/...
ETHEREUM_RPC_URL=https://lb.drpc.live/ethereum/...
ARBITRUM_RPC_URL=https://lb.drpc.live/arbitrum/...
BNB_RPC_URL=https://lb.drpc.live/bsc/...
HYPERLIQUID_RPC_URL=https://lb.drpc.live/hyperliquid/...
MONAD_RPC_URL=https://lb.drpc.live/monad-mainnet/...

GITHUB_PAT=your_github_pat
GITHUB_USERNAME=ShippZero

# Server Port (for Render / healthchecks)
PORT=8080
